<div class="row">
   <div class="col-sm-12">
      <div class="card">
          <div class="card-header">
             <h4>INSIRA OS DADOS DA RUNA AQUI</h4>
         </div>
            <div class="card-body">
                <div class="row">                
                    <div class="col-sm-6">
                    <form>
                       <table class="table table-dark">
                           <thead class="thead-light"> 
                               <tr>
                                   <th>Substat</th><th>Valor</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                   <td>Ataque (Atk) - Flat</td>
                                   <td>
                                       <input type="text" class="form-control" name="fatk" id="fatk" aria-describedby="helpId" placeholder="0" data-bind="value:fatk">
                                    </td>
                               </tr>
                               <tr>
                                   <td>Defesa (Def) - Flat</td>
                                   <td>
                                       <input type="text" class="form-control" name="fdef" id="fdef" aria-describedby="helpId" placeholder="0" data-bind="value:fdef">
                                    </td>
                               </tr>
                               <tr>
                                   <td>Vida(Hp) - Flat</td>
                                   <td>
                                       <input type="text" class="form-control" name="fhp" id="fhp" aria-describedby="helpId" placeholder="0" data-bind="value:fhp">
                                    </td>
                               </tr>

                               <tr>
                                   <td>Ataque (Atk) - %</td>
                                   <td>
                                       <input type="text" class="form-control" name="atk" id="atk" aria-describedby="helpId" placeholder="0 %" data-bind="value:atk">
                                    </td>
                               </tr>
                               <tr>
                                   <td>Defesa (Def) - %</td>
                                   <td>
                                       <input type="text" class="form-control" name="def" id="def" aria-describedby="helpId" placeholder="0 %" data-bind="value:def">
                                    </td>
                               </tr>
                               <tr>
                                   <td>Vida(Hp) - %</td>
                                   <td>
                                       <input type="text" class="form-control" name="hp" id="hp" aria-describedby="helpId" placeholder="0 %" data-bind="value:hp">
                                    </td>
                               </tr>

                               <tr>
                                   <td>Precisão (Acc)</td>
                                   <td>
                                       <input type="text" class="form-control" name="acc" id="acc" aria-describedby="helpId" placeholder="0 %" data-bind="value:acc">
                                    </td>
                               </tr>
                               <tr>
                                   <td>Resistência (Res)</td>
                                   <td>
                                       <input type="text" class="form-control" name="res" id="res" aria-describedby="helpId" placeholder="0 %" data-bind="value:res">
                                    </td>
                               </tr>
                               <tr>
                                   <td>Velocidade (Spd)</td>
                                   <td>
                                       <input type="text" class="form-control" name="spd" id="spd" aria-describedby="helpId" placeholder="0" data-bind="value:spd">
                                    </td>
                               </tr>

                               <tr>
                                   <td>Dano Crítico (CD)</td>
                                   <td>
                                       <input type="text" class="form-control" name="cd" id="cd" aria-describedby="helpId" placeholder="0 %" data-bind="value:cd">
                                    </td>
                               </tr>
                               <tr>
                                   <td>Taxa de Crítico (CR)</td>
                                   <td>
                                       <input type="text" class="form-control" name="cr" id="cr" aria-describedby="helpId" placeholder="0 %" data-bind="value:cr">
                                    </td>
                               </tr>
                           </tbody>
                       </table>
                    </form>
                    <div>
            </div>
       </div>
    </div>
</div>
@section scripts {
}